#top-bar {
    padding-top: 10px;
}

#search-input {
    width: 300px;
    height: 2.8rem;
    border-style: none;
    background-color: black;
    margin-right: 160px;
}

#card-hd {
  font-size: small;
  font-weight: 500;
}


